* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 68px 0;
    width: 100%;
}
 @media only screen and (min-width: 267px) and (max-width: 1024px), (max-width: 767px) {
    .flex {
    display: block;
    width: 100%;
    }
  } 

.flex-one {
    background-color: rgb(194, 235, 194);
    width: 48%;
    height: auto;
}

@media only screen and (min-width: 267px) {
  .flex-one {
  width: 90%;
  }
} 

@media only screen and (min-width: 765px) and (max-width: 1024px) {
  .flex-one{
   width: 100%;
   }
 }  

.flex-one .heading-section {
    margin-right: 20px;
}

.flex-one .heading {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    border-bottom: 1px solid  rgba(90, 90, 90, 0.2);
    line-height: 100px;
    width: 80%;
    margin-left: 52px;
}

 @media only screen and (min-width: 345px) and (max-width: 1024px), (max-width: 767px) {
    .flex-one .heading {
    font-size: 35px;
    padding-top: 50px;
    }
  } 

  @media only screen and (min-width: 1025px) {
    .flex-one {
     width: 48%;
     }
   } 

/*****_FORM_*****/

.contact-input input {
    width: 92%;
    line-height: 58px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}

 @media only screen and (min-width: 345px) and (max-width: 991px), (max-width: 767px) {
   .contact-input input {
    width: 100%;
    }
  } 

.contact-input input[type=text] {
    padding: 0px 30px;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

.contact-input input[type=email] {
    padding: 0px 30px;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

.contact-input input[type=textarea] {
    padding: 0px 30px;
    border: 1px solid rgba(128, 128, 128, 0.37);
  } 

.btn {
    background-color: darkgreen;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.btn:hover {
    background-color: black;
}

/*****_CONTACT INFO SECTION_*****/
.contact-info {

}

@media only screen and (min-width: 345px) and (max-width: 1024px), (max-width: 767px) {
  .contact-info {
   padding-bottom: 50px;
   }
 } 

.contact-info .top {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.contact-info i {
    color: darkgreen;
}

.contact-links a {
    color: gray;
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.contact-links a span {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.671);
}

.contact-links a span .second {
    margin-left: 30px;
}

.flex-two {
    width: 48%;
}

@media only screen and (max-width: 764px) {
  .flex-two {
   width: 90%;
   margin-left: 18px;
   }
 } 

 @media only screen and (min-width: 765px) {
  .flex-two {
   width: 100%;
   }
 } 
 
 @media only screen and (min-width: 1025px) {
  .flex-two {
   width: 48%;
   }
 } 

.flex-two .map iframe {
    height: 800px;
    width: 100%;
}