* {
    padding: 0;
    margin: 0;
}

.hero-section {
    height: 65vh;
    background-image: linear-gradient(to right, rgb(1, 18, 1), white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-section .page {
    text-align: center;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-section .page h1 {
    color: white;
    font-weight: bolder;
    font-size: 45px;
}

.hero-section .page h4 {
    color: white;
    font-size: 18px;
}

.hero-section .page h4 span {
    color: orange;
}

.hero-section .kasantos {
    position: absolute;
    color: transparent;
    font-size: 70px;
    -webkit-text-stroke: 1px rgb(110, 109, 109);
    transform: rotate(90deg);
    width: 65vh;
    top: 24vh;
    left: 0vw;
}

.hero-section .sun {
    position: absolute;
    top: 0vh;
    right: 27vw;
}

.hero-section .sun img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1024px) {

    .hero-section {
        height: 40vh;
    }

    .hero-section .kasantos {
        font-size: 78px;
        top: 27vh;
        left: -20vw;
    }

    .hero-section .sun {
        right: 20vw;
    }
}

@media screen and (max-width:430px) {

    .hero-section .kasantos {
      display: none;
    }

    .hero-section .sun {
        right: 28vw;
    }
}

@media screen and (max-width:390px) {

    .hero-section .sun {
        height: 50%;
        right: 32vw;
    }
}