* {
    padding: 0;
    margin: 0;
}


.nav-top {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    transition: max-height 0.3s ease;
}

.nav-top .left {
    margin-left: 5vw;
}

.nav-top .left a {
    text-decoration: none;
    color: white;
    margin-right: 1vw;
}

.nav-top .left a:hover {
    color: orange;
}

.nav-top .left a .orange-icon {
    color: orange;
    margin-right: 1vw;
}

.nav-top .right {
    background-color: green;
    width: 11%;
    padding-left: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-top .right .white-icon {
    color: white;
}

.main-nav {
    background-color: white;
    display: flex;
    height: 15vh;
    position: relative;
    z-index: 100;
    transition: position 0.3s, top 0.3s; /* Smooth transition */
}

.fixed-navbar {
    position: fixed; /* Make it fixed when it reaches the threshold */
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    animation: slide-down 0.5s 1 linear;
  }

  @keyframes slide-down {
    from {
        top: -10vh;
    }
    100% {
        top: 0vh;
    }
  }

.main-nav .logo-container {
    background-color: green;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    padding-left: 2.5vw;
    width: 28%;
}

.main-nav .logo-container img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.main-nav .links-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
}

.main-nav .links-container .nav-links a {
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 16px;
}

.main-nav .links-container .nav-links a:hover {
    color: green;
}

.main-nav .links-container .right-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .links-container .right-links a button {
    border: none;
    background-color: green;
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.main-nav .links-container .right-links a button:hover {
    background-color: black;
}

.main-nav .links-container .right-links .black-icon {
    font-size: 25px;
    color: black;
}

.mobile-nav {
    display: none;
}


@media screen and (max-width:1024px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: relative;
    }

    .mobile-nav .mobile-navbar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        transition: position 0.3s, top 0.3s; /* Smooth transition */
    }

    .fixed-navbar2 {
        position: fixed; /* Make it fixed when it reaches the threshold */
        top: 0; 
        left: 0;
        right: 0;
        z-index: 1000; 
        animation: slide-down 0.5s 1 linear;
      }

    @keyframes slide-down {
        from {
            top: -10vh;
        }
        100% {
            top: 0vh;
        }
    }
    
    .mobile-nav .mobile-navbar .logo-container {
        background-color: green;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        padding-left: 2.5vw;
        width: 50%;
    }

    .mobile-nav .mobile-navbar .logo-container img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }

    .mobile-nav .mobile-navbar .drop-button {
        width: 30%;
    }

    .mobile-nav .mobile-navbar .drop-button .mymenu {
        margin: auto !important;
        background-color: green;
        border: none;
        padding: 25px 25px;
        border-radius: 5px;
        font-weight: bolder;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }

    .mobile-nav .mobile-navbar .drop-button .mymenu .menu-line {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 2px;
    }

    .mobile-nav .mobile-navbar .drop-button .mymenu .center {
        margin-left: 5px;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green {
        background-color: rgb(1, 20, 1);
        padding-left: 5vw;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .overflow {
        height: 180vh;
        overflow: auto;
    }

    .mobile-nav .mobile-navbar .drop-button .logo-box {
        margin-top: 5vh;
        display: flex !important;
        justify-content: space-between !important;
        margin-bottom: 5vh;
    }

    .mobile-nav .mobile-navbar .drop-button .logo-box .image {
        width: 80% !important;
        height: 100%;
    }

    .mobile-nav .mobile-navbar .drop-button .logo-box .image img {
        width: 100%;
        height: 100%;
    }

    .mobile-nav .mobile-navbar .drop-button .logo-box .close-button {
        width: 10% !important;
        font-size: 30px;
        background-color: orange;
        color: red;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .others {
        margin-bottom: 8vh;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .others .mobile-nav-links a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1.5vh 0;
        font-size: 25px;
        border-bottom: 0.5px solid white;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .others .mobile-nav-links a:hover {
        color: green;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green > h2 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        margin-bottom: 5vh;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts {
        width: 95%;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3vh;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info .round {
        background-color: green;
        border-radius: 50px;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info .round .fas {
        color: white;
        font-size: 30px;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info .information {
        width: 65%;
        /* background-color: bisque; */
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info .information span {
        color: rgb(119, 124, 128);
        font-size: 25px;
    }

    .mobile-nav .mobile-navbar .drop-button .dark-green .contacts .info .information p {
        color: aliceblue;
        font-size: 20px;
    }

}

@media screen and (max-width:380px) {

    .mobile-nav .mobile-navbar .drop-button .mymenu {
        padding: 22px 22px;
        width: 60px;
        height: 60px;
    }

    .mobile-nav .mobile-navbar .drop-button .mymenu .menu-line {
        height: 3px;
    }

    .mobile-nav .mobile-navbar .drop-button .mymenu .center {
        margin-left: 2px;
    }
}