*{
    padding: 0%;
    margin: 0%;
}

.hero-page{
    background: linear-gradient(to right, #032519,#fafaf9);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    overflow: hidden;  
}
.kasantos{
    font: 4.65em sans-serif;
    writing-mode: vertical-rl; /* Rotate text vertically */
    animation: moveVertical 3s linear infinite;
    font-size: 49px;
    margin-left: 200px;
    color: #2e4a40;
    text-shadow: 
        -1px -1px 0 #516255,  
        1px -1px 0 #516255,
        -1px 2px 0 #516255,
        1px 1px 0 #516255;
}
@keyframes kasantos {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
.services{
    margin-left: 300px;
    color: #ffffff;
    display: block;
    align-self: center;
    font: 2.35em sans-serif;
    
}
.services p{
    text-align: center;
    margin-left: 28px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}
span{
    font-weight: 600;
    color: #e8992b; 
}
img{
    filter: sepia(100%) hue-rotate(50deg) saturate(200%); /* Change color */
    margin-right: 400px;
    width: 180px;
    height: 180px;
}